.daily-data-holder {
    display: flex;
    justify-content: center;
    /* gap: 0.6vw; */
    gap: 1vw;
    padding-top: 1.5vw;
    /* flex-wrap: wrap; */
    width: 50vw;
    /* margin-bottom: 0; */
    position: relative;
}

.data-box {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    /* box-shadow: 0px -2px 3px #fff; */
    box-shadow: 0px -1px 2px 1px #fff;
    /* padding: 0.6vw; */
    padding: 0.6vw 1.5vw 0.5vw 1.5vw;
    border-radius: 0.8vw;
    align-items: center;
    text-shadow: 0 0 3px #fff, 0 0 5px #000000;
}

.data-box:hover {
    background-color: #191919;
}

.data-box img {
    width: 5vw;
}

@media (max-width: 600px) {
    .daily-data {
        width: 100%;
        margin-top: 30vw;
    }
    .daily-data-holder {
        width: 100%;
        /* padding: 5vw 0; */
        justify-content: space-evenly;
        align-items: center;
        background-color: #FCF5E5;
        /* padding-bottom: 1vw; */
    }
    .data-box:hover {
        background-color: transparent;
    }
    .data-box {
        padding-top: 3vw;
        padding-bottom: 3vw;
        gap: 3vw;
        box-shadow: none;
        font-size: 3.5vw;
        color: #000000;
        text-shadow: none;
        font-weight: 700;
    }
    .daily-icon {
        width: 10vw !important;
    }
}
