.hourly-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.8vw;
    padding-bottom: 1vw;
    position: relative;
}

.hourly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    gap: 4vw;
    padding: 0.8vw;
    color: #fff;
    border-radius: 0.8vw;
    box-shadow: 0px -1px 2px 1px #fff;
    text-shadow: 0 0 3px #fff, 0 0 5px #000000;
}

.hourly:hover {
    background-color: #333333;
}

.hourly-icon {
    width: 2vw;
}

.scroller {
    position: fixed;
    top: 96vh;
    right: 0.7vw;
    padding: 0.2vw 0.5vw;
    background-color: #F9AE00;
    border-radius: 0.2vw;
}


@media (max-width : 600px) {
    .hourly-data-main {
        padding: 5vw 2vw;
        padding-bottom: 0;
        /* background-color: #142683; */
        /* background-color: #3C1E18; */
        background-color: #EDEADE;
        background-color: #FCF5E5;
    }
    .hourly-data {
        justify-content: space-around;
        padding-bottom: 3vw;
        /* padding-top: 3vw; */
    }
    .hourly{
        width: 95%;
        gap: 10vw !important;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 4vw;
        color: #000000;
        text-shadow: none;
        font-weight: 700;
    }
    .hourly-icon {
        width: 10vw;
    }
    .hourly:hover {
        background-color: transparent;
    }
}